.containerPaginaPrincipal1 {
    background-image: linear-gradient( to right, #571f1f, black );
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.containerPaginaPrincipal1 h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 510px;
    height: 260px;
    text-align: center;
}

.btnsPaginaPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btnsPaginaPrincipal button {
    background-color: white;
    color: black;
    width: 235px;
    height: 40px;
    
}

.btnsPaginaPrincipal button:hover {
    border: 2px solid #571f1f;
}

.containerPaginaPrincipal2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}

.containerPaginaPrincipal2 h2 {
    font-weight: bolder;
    font-size: 50px;
    width: 555px;
    height: 220px;
    text-align: center;
}

.horarioCultos {
    width: 600px;
}

.horarioCultos h3 {
    font-size: 35px;
    font-weight: bolder;
}

.horarioCultos span {
    font-weight: bolder;
}